$primaryFontFamily: "Montserrat", sans-serif;
$secondaryFontFamily: "Josefin Sans", sans-serif;
$logoFontFamily: "Kaushan Script", cursive;

$logoFontSizeOnLargeScreen: 2.5rem;
$logoFontSizeOnMediumScreen: 2.2rem;
$logoFontSizeOnSmallScreen: 1.6rem;
$primaryFontSize: 1.375rem;
$primFontSizeOnMedium: 1.2rem;
$h1FontSize: 2.375rem;
$h1FontSizeOnMedium: 2rem;
$paragraphFontWeight: lighter;
$paragraphLineHeight: 2.125rem;
$navLinksFontSize: 1.5rem;

$bodyBackgroundColor: #fafafa;
$textAndLinkColor: #252525;
$tanjiroThemeColor: #32d489;

$buttonTextColor: #fff;
$buttonWidth: 11.875rem;
$buttonHeight: 3.438rem;
$buttonBorder: none;
$buttonBorderRadius: 99rem;

$signInAndSignUpWidth: 5.188rem;
$signInAndSignUpHeight: 7.375rem;

$itemsThemeColorTransitionDur: 0.25s;

$mainSectionImageContainerWidth: 50%;
$mainSectionImageContainerHeight: 575px;
